@using Web.Models.ProjectModel
@model IEnumerable<Web.Models.ProjectModel.ProjectViewModel>

@{
    ViewData["Title"] = "Projects";
}

<h1>Projects</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Sprints</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var project in Model)
        {
            <tr>
                <td>@project.Name</td>
                <td>@project.Description</td>
                <td>
                    <ul>
                        @foreach (var sprint in project.Sprints)
                        {
                            <li>@sprint.Name (@sprint.StartDate.ToShortDateString() - @sprint.EndDate.ToShortDateString())</li>
                        }
                    </ul>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@project.Id" class="btn btn-primary">Edit</a>
                    <a asp-action="Delete" asp-route-id="@project.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-primary">Create New Project</a>