@model Web.Models.SprintModel.SprintTaskDto

@{
    ViewData["Title"] = "Details Sprint";
}

<table class="table table-bordered">
    <tbody>
        <tr>
            <th>Name</th>
            <td>@Model.Sprint.Name</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>@Model.Sprint.Description</td>
        </tr>
        <tr>
            <th>Start Date</th>
            <td>@Model.Sprint.StartDate.ToString("yyyy-MM-dd")</td>
        </tr>
        <tr>
            <th>End Date</th>
            <td>@Model.Sprint.EndDate.ToString("yyyy-MM-dd")</td>
        </tr>
        <tr>
            <th>Tasks</th>
            <td>
                <select class="form-select" onchange="location = this.value;">
                    <option value="">Select a Task</option>
                    @foreach (var task in Model.Tasks)
                    {
                        <option value="@Url.Action("TaskDetails", "TaskWork", new { id = task.Id })">@task.Name</option>
                    }
                </select>
                <a asp-action="CreateTask" asp-controller="TaskWork" asp-route-sprintId="@Model.Sprint.Id" class="btn btn-success">Create Task</a>
            </td>
        </tr>
    </tbody>
</table>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Sprint.Id" class="btn btn-primary">Edit</a>
    <form asp-action="DeleteConfirmed" method="post" class="d-inline">
        <input type="hidden" asp-for="Sprint.Id" value="@Model.Sprint.Id" />
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
    <a asp-action="Index" asp-controller="Project" asp-route-projectId="@Model.Sprint.ProjectId" class="btn btn-secondary">Back to Project</a>
</div> 